<launch>

  <node pkg="rollout_node" name="hand_control_sim" type="hand_control_sim.py" output="screen"></node>

  <node pkg="collect_data" name="collect" type="collect_run.py" output="screen">
        <rosparam command="load" file="$(find collect_data)/param/settings.yaml" />
  </node>

  <node pkg="collect_data" name="recorder" type="recorder.py" output="screen">
        <rosparam command="load" file="$(find collect_data)/param/settings.yaml" />
  </node>

</launch>